# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

# Unignore makefile
!Makefile

.vscode

# cmake
!CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.bin
*.log
*.csv

*.aux
*.out
*.synctex.gz
*.toc